In [24]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [25]:
df = pd.read_csv('BankCustomers.csv')

In [26]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [33]:
data = pd.get_dummies(df, columns = ['Geography','Gender'])
data

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,9997,15569892,Johnstone,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,9998,15584532,Liu,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,9999,15682355,Sabbatini,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,10000,15628319,Walker,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [35]:
X = data.drop(['RowNumber','CustomerId','Surname','Exited'],axis = 1)
Y = data['Exited']

In [36]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [38]:
Y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [77]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [78]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [79]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

In [80]:
classifier = Sequential()

In [81]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=13, units=8, kernel_initializer="uniform"))

In [82]:
# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=8, kernel_initializer="uniform"))

In [83]:
# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

In [84]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [85]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

WARNING:tensorflow:From C:\Users\Vijay\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
8000/8000 [==============================] - 2s 276us/step - loss: 0.4854 - accuracy: 0.7959
Epoch 2/100
8000/8000 [==============================] - 2s 227us/step - loss: 0.4288 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.4229 - accuracy: 0.7980
Epoch 4/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.4188 - accuracy: 0.8219
Epoch 5/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.4163 - accuracy: 0.8255
Epoch 6/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.4131 - accuracy: 0.8305
Epoch 7/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.4095 - accuracy: 0.8338
Epoch 8/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.4061 - accuracy: 0.8347
Epoch 9/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.4036 - accuracy: 0.8359
Epoch 10/100
8000/8000 [==============================] - 2s 205us/step - loss: 0.4016 - accuracy: 0.8336
Epoch 11/100
8000/8000 [==============================] - 3s 317us/step - loss: 0.4006 - accuracy: 0.8347
Epoch 12/100
8000/8000 [==============================] - 3s 342us/step - loss: 0.3995 - accuracy: 0.8351
Epoch 13/100
8000/8000 [==============================] - 3s 342us/step - loss: 0.3985 - accuracy: 0.8357
Epoch 14/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.3981 - accuracy: 0.8347
Epoch 15/100
8000/8000 [==============================] - 3s 324us/step - loss: 0.3972 - accuracy: 0.8354
Epoch 16/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.3966 - accuracy: 0.8355
Epoch 17/100
8000/8000 [==============================] - 2s 309us/step - loss: 0.3968 - accuracy: 0.8357
Epoch 18/100
8000/8000 [==============================] - 3s 341us/step - loss: 0.3958 - accuracy: 0.8351
Epoch 19/100
8000/8000 [==============================] - 3s 327us/step - loss: 0.3959 - accuracy: 0.8350
Epoch 20/100
8000/8000 [==============================] - 3s 342us/step - loss: 0.3954 - accuracy: 0.8357
Epoch 21/100
8000/8000 [==============================] - 3s 320us/step - loss: 0.3947 - accuracy: 0.8370
Epoch 22/100
8000/8000 [==============================] - 3s 343us/step - loss: 0.3950 - accuracy: 0.8363
Epoch 23/100
8000/8000 [==============================] - 3s 321us/step - loss: 0.3948 - accuracy: 0.8389
Epoch 24/100
8000/8000 [==============================] - 3s 350us/step - loss: 0.3943 - accuracy: 0.8374
Epoch 25/100
8000/8000 [==============================] - 3s 326us/step - loss: 0.3951 - accuracy: 0.8361
Epoch 26/100
8000/8000 [==============================] - 3s 347us/step - loss: 0.3944 - accuracy: 0.8357
Epoch 27/100
8000/8000 [==============================] - 3s 366us/step - loss: 0.3947 - accuracy: 0.8363
Epoch 28/100
8000/8000 [==============================] - 3s 343us/step - loss: 0.3940 - accuracy: 0.8379
Epoch 29/100
8000/8000 [==============================] - 3s 363us/step - loss: 0.3941 - accuracy: 0.8360
Epoch 30/100
8000/8000 [==============================] - 3s 334us/step - loss: 0.3943 - accuracy: 0.8363
Epoch 31/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3932 - accuracy: 0.83 - 3s 352us/step - loss: 0.3938 - accuracy: 0.8367
Epoch 32/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.3943 - accuracy: 0.8370
Epoch 33/100
8000/8000 [==============================] - 3s 344us/step - loss: 0.3938 - accuracy: 0.8375
Epoch 34/100
8000/8000 [==============================] - 3s 329us/step - loss: 0.3938 - accuracy: 0.8379
Epoch 35/100
8000/8000 [==============================] - 3s 344us/step - loss: 0.3939 - accuracy: 0.8372
Epoch 36/100
8000/8000 [==============================] - 3s 326us/step - loss: 0.3930 - accuracy: 0.8378
Epoch 37/100
8000/8000 [==============================] - 3s 348us/step - loss: 0.3933 - accuracy: 0.8390
Epoch 38/100
8000/8000 [==============================] - 2s 305us/step - loss: 0.3935 - accuracy: 0.8385
Epoch 39/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.3929 - accuracy: 0.8369
Epoch 40/100
8000/8000 [==============================] - 2s 277us/step - loss: 0.3927 - accuracy: 0.8381
Epoch 41/100
8000/8000 [==============================] - 3s 335us/step - loss: 0.3928 - accuracy: 0.8389
Epoch 42/100
8000/8000 [==============================] - 3s 353us/step - loss: 0.3920 - accuracy: 0.8393
Epoch 43/100
8000/8000 [==============================] - 3s 324us/step - loss: 0.3915 - accuracy: 0.8390
Epoch 44/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.3903 - accuracy: 0.8388
Epoch 45/100
8000/8000 [==============================] - 3s 329us/step - loss: 0.3887 - accuracy: 0.8395
Epoch 46/100
8000/8000 [==============================] - 3s 346us/step - loss: 0.3849 - accuracy: 0.8420
Epoch 47/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.3793 - accuracy: 0.8405
Epoch 48/100
8000/8000 [==============================] - 3s 352us/step - loss: 0.3732 - accuracy: 0.8445
Epoch 49/100
8000/8000 [==============================] - 3s 352us/step - loss: 0.3684 - accuracy: 0.8470
Epoch 50/100
8000/8000 [==============================] - 3s 347us/step - loss: 0.3650 - accuracy: 0.8497
Epoch 51/100
8000/8000 [==============================] - 3s 334us/step - loss: 0.3622 - accuracy: 0.8537
Epoch 52/100
8000/8000 [==============================] - 3s 341us/step - loss: 0.3592 - accuracy: 0.8535
Epoch 53/100
8000/8000 [==============================] - 3s 326us/step - loss: 0.3565 - accuracy: 0.8572
Epoch 54/100
8000/8000 [==============================] - 3s 346us/step - loss: 0.3557 - accuracy: 0.8558
Epoch 55/100
8000/8000 [==============================] - 3s 322us/step - loss: 0.3542 - accuracy: 0.8572
Epoch 56/100
8000/8000 [==============================] - 3s 344us/step - loss: 0.3535 - accuracy: 0.8570
Epoch 57/100
8000/8000 [==============================] - 2s 304us/step - loss: 0.3519 - accuracy: 0.8584
Epoch 58/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.3520 - accuracy: 0.8605
Epoch 59/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3508 - accuracy: 0.8606
Epoch 60/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3514 - accuracy: 0.8612
Epoch 61/100
8000/8000 [==============================] - 3s 330us/step - loss: 0.3498 - accuracy: 0.8599
Epoch 62/100
8000/8000 [==============================] - 3s 345us/step - loss: 0.3494 - accuracy: 0.8604
Epoch 63/100
8000/8000 [==============================] - 3s 329us/step - loss: 0.3479 - accuracy: 0.8618
Epoch 64/100
8000/8000 [==============================] - 3s 352us/step - loss: 0.3489 - accuracy: 0.8601
Epoch 65/100
8000/8000 [==============================] - 3s 330us/step - loss: 0.3487 - accuracy: 0.8614
Epoch 66/100
8000/8000 [==============================] - 3s 360us/step - loss: 0.3477 - accuracy: 0.8620
Epoch 67/100
8000/8000 [==============================] - 3s 322us/step - loss: 0.3480 - accuracy: 0.8591
Epoch 68/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.3468 - accuracy: 0.8622
Epoch 69/100
8000/8000 [==============================] - 3s 348us/step - loss: 0.3474 - accuracy: 0.8612
Epoch 70/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.3468 - accuracy: 0.8600
Epoch 71/100
8000/8000 [==============================] - 3s 318us/step - loss: 0.3476 - accuracy: 0.8601
Epoch 72/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.3459 - accuracy: 0.8609
Epoch 73/100
8000/8000 [==============================] - 3s 320us/step - loss: 0.3462 - accuracy: 0.8610
Epoch 74/100
8000/8000 [==============================] - 3s 345us/step - loss: 0.3455 - accuracy: 0.8635
Epoch 75/100
8000/8000 [==============================] - 3s 335us/step - loss: 0.3455 - accuracy: 0.8616
Epoch 76/100

8000/8000 [==============================] - 2s 243us/step - loss: 0.3458 - accuracy: 0.8600
Epoch 77/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.3457 - accuracy: 0.8615
Epoch 78/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.3453 - accuracy: 0.8625
Epoch 79/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3450 - accuracy: 0.8626
Epoch 80/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.3446 - accuracy: 0.8604
Epoch 81/100
8000/8000 [==============================] - 2s 203us/step - loss: 0.3442 - accuracy: 0.8611
Epoch 82/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3446 - accuracy: 0.8619
Epoch 83/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3441 - accuracy: 0.8595
Epoch 84/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3448 - accuracy: 0.8614
Epoch 85/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.3442 - accuracy: 0.8599
Epoch 86/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3433 - accuracy: 0.8610
Epoch 87/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3432 - accuracy: 0.8614
Epoch 88/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3423 - accuracy: 0.8597
Epoch 89/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3418 - accuracy: 0.8622
Epoch 90/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3405 - accuracy: 0.8600
Epoch 91/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3397 - accuracy: 0.8631
Epoch 92/100
8000/8000 [==============================] - 2s 207us/step - loss: 0.3407 - accuracy: 0.8605
Epoch 93/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3392 - accuracy: 0.8608
Epoch 94/100
8000/8000 [==============================] - 2s 190us/step - loss: 0.3405 - accuracy: 0.8604
Epoch 95/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3390 - accuracy: 0.8615
Epoch 96/100
8000/8000 [==============================] - 2s 205us/step - loss: 0.3394 - accuracy: 0.8610
Epoch 97/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3384 - accuracy: 0.8606
Epoch 98/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3382 - accuracy: 0.8627
Epoch 99/100
8000/8000 [==============================] - 2s 204us/step - loss: 0.3385 - accuracy: 0.8604
Epoch 100/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.3386 - accuracy: 0.8634

In [86]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [87]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [88]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)

In [89]:
cm

array([[1530,   65],
       [ 206,  199]], dtype=int64)

In [93]:
accuracy*100

86.45

In [94]:
from sklearn.metrics import classification_report 
clf_rep = classification_report(y_test, y_pred)
print(clf_rep)

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1595
           1       0.75      0.49      0.59       405

    accuracy                           0.86      2000
   macro avg       0.82      0.73      0.76      2000
weighted avg       0.86      0.86      0.85      2000

In [96]:
classifier.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 8)                 112
_________________________________________________________________
dense_12 (Dense)             (None, 8)                 72
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 9
=================================================================
Total params: 193
Trainable params: 193
Non-trainable params: 0
_________________________________________________________________

In [98]:
from sklearn.ensemble import RandomForestClassifier
randomforestclassifier = RandomForestClassifier(n_estimators=100)
randomforestclassifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [100]:
Y_pred = randomforestclassifier.predict(X_test)
Y_pred = (Y_pred > 0.5)

In [102]:
Y_pred

array([False, False, False, ..., False, False, False])

In [105]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, Y_pred)
accuracy=accuracy_score(y_test,Y_pred)

In [106]:
cm

array([[1527,   68],
       [ 200,  205]], dtype=int64)

In [107]:
accuracy*100

86.6

In [108]:
from sklearn.metrics import classification_report 
clf_rep = classification_report(y_test, Y_pred)
print(clf_rep)

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1595
           1       0.75      0.51      0.60       405

    accuracy                           0.87      2000
   macro avg       0.82      0.73      0.76      2000
weighted avg       0.86      0.87      0.86      2000